
/* CSS */
@import url('normalize.css');

@font-face {
    font-family: 'ubunturegular';
    src: url('ubuntu-regular-webfont.woff2') format('woff2'),
         url('ubuntu-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
html * {
    box-sizing: border-box;
}

body {
  height: 100vh;
  height: -webkit-fill-available;
  font-family: 'ubunturegular', Fallback, sans-serif;
  background-color:  #edf0da;;
  color: #8f5c38;
}

html {
  /* height: 100%; */
  height: -webkit-fill-available;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: calc(100vh - 1rem);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
    color: inherit;;
    text-decoration: none;
}

a:hover {
    color: inherit;; 
    text-decoration:none; 
    cursor:pointer;  
}